* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
/*  */
header {
    box-shadow: 0 0 4px 1px #ff731d;
}
.header-left img {
    /* padding: 4px 12px; */
    margin: 8px 80px;
}
.header-right-content {
    margin: auto 0;
    display: flex;
    justify-content: space-around;
}
.header-right-content-listitem ul {
    text-align: center;
}
.header-right-content-listitem ul li {
    display: inline-block;
    font-size: 24px;
    padding: 15px 24px;
    /* margin: 12px 0 0 0; */
}
.header-right-content-listitem ul li:hover {
    background-color: #fdfdbd;
}
.header-right-content-listitem ul li a {
    text-decoration: none;
    color: #ff731d;
    font-weight: 600;
}
.header-right-content-listitem ul li:hover a {
    color: #dc3535;
}
/*  */
.slide-bar {
    height: 100%;
    /* box-shadow: 0 0 8px 4px #ccc; */
    border-right: 1px solid #ccc;
}
.slide-bar ul li {
    /* background-color: #fdf0e0; */
    font-size: 24px;
    font-weight: 600;
    margin: 12px auto;
    text-align: center;
    /* background-color: #ccc; */
    padding: 12px 0;
}
.slide-bar ul li button {
    border: none;
    /* background-color: #ccc; */
}
.slide-bar ul li:hover {
    /* opacity: 0.5; */
    background-color: #fdfdbd;
    color: #dc3535;
}
.button-submit {
    border: none;
    background-color: #dc5f00;
    border-radius: 10px;
    box-shadow: 0 0 6px 4px #ccc;
}

.form-submit {
    margin-top: 24px;
    /* font-size: 24px; */
}
.img-avt {
    /* width: 100%; */
    padding: 64px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #e5d9b6;
}
.avt input {
    margin: 12px 12%;
}
.infor-bottom input {
    max-width: 32%;
    border: 1.5px solid #dc3535;
    border-radius: 50px;
    background-color: #ffe15d;
}
.right-bottom {
    margin: -10px;
}
/* .form-content input {
    border: 1px solid #b6e2a1;
} */
.input-value {
    border: 1px solid #ff6464;
    padding: 0 0 0 2%;
}

/*  */
@media print {
    body * {
        visibility: hidden;
    }

    .form-submit * {
        visibility: visible;
    }
}
/*  */
